body{
    width: 100vw;
    height: 100vh;
    position: relative;
    z-index: -2;
}

header{
    height: 80px;
    display: flex;
    align-items: center;
    z-index: 2;
}

header .container .goback{
    transition: 0.2s;
    display: flex;
    align-items: center;
    cursor: pointer;
    z-index: 2;
}

header .container #index-img{
    width: 57px;
    height: 40px;
    background-image: url(../assets/icon/goback-bw.png);
    background-size:contain;
    transition: 0.2s;
}

header .container .goback span{
    margin-left: 10px;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 25px;
    color: #B2B6BB;
    transition: 0.2s;
}

header .container .goback:hover > #index-img {
    background-image: url(../assets/icon/goback-colored.png);
    transition: 0.2s;
}

header .container .goback:hover > span{
    color: #80471F;
    transition: 0.2s;
}

section {
    z-index: -1;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    align-self: center;
    overflow-x: hidden;
    overflow-y: visible;
    position: absolute;
    top: 0;
    transition: 5s;
}

section .input_container{
    position: relative;
    width: 330px;
    height: 30px;
}

section input{
    width: 300px;
    padding: 0 15px;
    border: 0;
    height: 30px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom: 3px solid #B2B6BB;
    outline: none;
    font-size: 18px;
    font-weight: 100;
    transition: 0.2s;
}

.input_container:hover > input{
    border-bottom: 3px solid #21252B;
}

.input_container:hover > ::placeholder{
    color: #21252B;
}

.input_container::placeholder{
    color: #B2B6BB;
}


.login{
    width: 100%;
    height: 320px;
    overflow-y: visible;
    position: relative;
    background-color: rgba(255, 142, 60, 0.6);
    transition: 1.5s;
}


.login img{
    position: absolute;
    bottom: -30px;
    right: 80px;
    overflow-y: visible;
    width: 650px;
}

.login .titulo{
    position: absolute;
    top: -40px;
    font-style: normal;
    font-weight: bold;
    font-size: 35px;
    line-height: 44px;
    color: #21252B;
}

.login .login_erro{
    position: absolute;
    top: 35px;
    width: 330px;
    text-align: center;
    font-size: 12px;
    color: red;
}

.login .container {
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    overflow-y: visible;
}

.login .container .form_login{
    display: flex;
    height: 60%;
    width: 330px;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-right: 0;
    align-items: center;
    align-content: space-around;
}

.login .container .form_login button{
    appearance: none;
    width: 137px;
    height: 40px;
    background: #3F4249;
    border: none;
    border-radius: 5px;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 15px;
    text-align: center;
    color: #DADDDF;
    transition: color 0.2s linear, 0.1s;
}

.login .container .form_login button:hover{
    color: #ff8e3c;
}

.login .container .form_login button:active{
    width: 142px;
    height: 45px;
}

.login .container .form_login .cad-acess{
    width: 140px;
    display: flex;
    flex-wrap: wrap;
}

.login .container .form_login .cad-acess p{
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    color: #000000;
}

.login .container .form_login .cad-acess a{
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    color: #80471F;
    text-decoration: underline;
    cursor: pointer;
}

.login .container .form_login .cad-acess a:hover{
    font-weight: bold;
}

.cadastro{
    background-color: rgba(255, 142, 60, 0.6);
    width: 100%;
    height: 320px;
    overflow-y: visible;
    margin-left: -100%;
    position: absolute;
    transition: 2s;
}

.cadastro .titulo{
    position: absolute;
    top: -40px;
    font-style: normal;
    font-weight: bold;
    font-size: 35px;
    line-height: 44px;
    color: #21252B;
}

.cadastro .cadastro_erro{
    position: absolute;
    top: 17px;
    width: 330px;
    text-align: center;
    font-size: 12px;
    color: red;
}


.cadastro img{
    position: absolute;
    bottom: -30px;
    left: 80px;
    overflow-y: visible;
    width: 650px;
}

.cadastro .container {
    height: 100%;
    display: flex;
    justify-content: flex-end;
    position: relative;
    overflow-y: visible;
    align-items: center;
}

.cadastro .container .form_cadastro{
    display: flex;
    height: 80%;
    width: 330px;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-right: 0;
    align-content: space-around;
    align-items: flex-start;
}


.cadastro .container .form_cadastro button {
    appearance: none;
    width: 137px;
    height: 40px;
    background: #3F4249;
    border: none;
    border-radius: 5px;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 15px;
    text-align: center;
    color: #DADDDF;
    transition: color 0.2s linear, 0.1s;
}

.cadastro .container .form_cadastro button:hover{
    color: #ff8e3c;
}

.cadastro .container .form_cadastro button:active{
    width: 142px;
    height: 45px;
}

.cadastro .container .form_cadastro .log-acess{
    width: 140px;
    display: flex;
    flex-wrap: wrap;
}

.cadastro .container .form_cadastro .log-acess p{
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    color: #000000;
}

.cadastro .container .form_cadastro .log-acess a{
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    color: #80471F;
    text-decoration: underline;
    cursor: pointer;
}

.cadastro .container .form_cadastro .log-acess a:hover{
    font-weight: bold;
}
