@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --marrom: (#80471F);
    --cinza: (#242424);
    --laranja: (#FF8E3C);
    --branco: (#FFFFFE);
    --gelo: (#EFF0F3);
    --preto: (#0D0D0D);
}

*{
    margin: 0 0;
    font-family: 'Mulish', sans-serif;
}

body{
    padding: 0 0;
    margin: 0 0;
}

header {
    position: relative;
    width: 100%;
    height: 70px;
    box-shadow: 0px 15px 100px rgba(0, 0, 0, 0.25);

}

header .gelo{
    position: absolute;
    width: 43.9%;
    height: 70px;
    background-color: #F5F5F5;
    left: 0;
    top: 0;
}

header .gelo .container {
    width: calc(1150px*0.439);
    margin-right: 0;
    height: 100%;
}

header .gelo .container .goback{
    height: 100%;
    transition: 0.2s;
    display: flex;
    align-items: center;
    cursor: pointer;
    z-index: 2;
}

header .gelo .container .goback #img{
    width: 36.01px;
    height: 49px;
    background-image: url(../assets/icon/logobw.png);
    background-size:contain;
    transition: 0.2s;
}

header .container .goback:hover > #img {
    background-image: url(../assets/icon/logocolored.png);
    transition: 0.2s;
}

header .container .goback:hover > span{
    color: #80471F;
    transition: 0.2s;
}

header .gelo .container span{
    margin-left: 10px;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 25px;
    color: #B2B6BB;
    transition: 0.2s;
}

header .laranja {
    position: absolute;
    width: 56.1%;
    background-color: #FF8E3C;
    right: 0;
    top: 0;
    height: 70px;
}

header .laranja .container{
    width: calc(1150px*0.561);
    margin-left: 0;
}

.acessos{
    width: 100%;
  height: 70px;
  display: flex;
  justify-content: flex-end; 
  background-color: #FF8E3C; 
}


.acessos ul{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0;
}

.acessos ul li a{
    text-decoration: none;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    color: #EFF0F3;
    transition: 0.2s;
}

.acessos ul li h1 {
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 31px;
    color: #80471F;
}

.acessos ul li .selected{
    font-weight: bold;
    color: #80471F;
}

.acessos ul li a:hover {
    color: #80471F;
    font-weight: 600;
}

.acessos ul .visitas{
    margin-left: 92px;
}


.container{
    width: 1150px;
    margin: 0 auto;
}

footer {
    background-color: #242424;
    height: 70px;
    width: 100%;
    display: flex;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
}

.footer-container p {
    align-self: center;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 25px;
    text-align: center;
    color: #DADDDF;
}


.footer-container ul {
    width: 180px;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-container ul a div{
    width: 30px;
    height: 30px;
    transition: 0.2s;
}

.footer-container ul a #insta{
    background-image: url(../assets/icon/instagram.png);
}

.footer-container ul a #insta:hover{
    background-image: url(../assets/icon/instagramcolored.png);
}

.footer-container ul a #email{
    background-image: url(../assets/icon/email.png);
    height: 22.5px;
}

.footer-container ul a #email:hover{
    background-image: url(../assets/icon/emailcolored.png);
}

.footer-container ul a #git{
    background-image: url(../assets/icon/github.png);
}

.footer-container ul a #git:hover{
    background-image: url(../assets/icon/githubcolored.png);
}

.footer-container ul a #linked{
    background-image: url(../assets/icon/linkedin.png);
}

.footer-container ul a #linked:hover{
    background-image: url(../assets/icon/linkedincolored.png);
}